<div #container class="calendar-container">
  <div class="events-container">
    @for (ev of layouted; track ev) {
      <app-event [event]="ev"></app-event>
    }
  </div>

  <div class="time-slots-container" [style.height.px]="height">
    @for (hour of hours; track hour) {
      <app-time-slot [hour]="hour" [height]="height/hours.length - 1"></app-time-slot>
    }
  </div>
  <div id="add-event">
    <button matFab aria-label="add event" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>