.time-slot {
  height: 100%;
  width: 100%;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.time-slot-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  width: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
